ANAM_API_KEY=
ANAM_AVATAR_ID=edf6fdcb-acab-44b8-b974-ded72665ee26
ANAM_AVATAR_MODEL=cara-4
DEEPGRAM_API_KEY=
THINK_MODEL=claude-sonnet-5
ANTHROPIC_API_KEY=
SPEAK_MODEL=aura-2-thalia-en
LISTEN_MODEL=nova-3
PORT=4400
